# Data Layout

In [154]:
import pandas as pd

In [156]:
data_layout = pd.read_excel(r"C:\Users\nssod\OneDrive\Desktop\Vivek_prof\PLFS_23-24\Data_LayoutPLFS_2023-24.xlsx", sheet_name= 'perv1')
data_layout.head()

   Srl            Full Name Block Item /Col.  Field Length Field_Name
0    1  File Identification   NaN        NaN             4    file_id
1    2              Schdule     1          2             3        sch
2    3              Quarter   NaN        NaN             2        qtr
3    4                Visit   NaN        NaN             2      visit
4    5               Sector     1          3             1        sec

In [158]:
specifications = []
for i in range(len(data_layout)):
    if i == 0:
        specifications.append((0,data_layout['Field Length'][i]))
    else:
        specifications.append((specifications[-1][-1], specifications[-1][-1]+ data_layout['Field Length'][i]))

In [160]:
col_names = []
for i in data_layout['Full Name']:
    col_names.append(i)

In [162]:
## State code fetched from data layout excel workbook
data_layout_st = pd.read_excel(r"C:\Users\nssod\OneDrive\Desktop\Vivek_prof\PLFS_23-24\Data_LayoutPLFS_2023-24.xlsx", sheet_name = 'State code', header = 1)
data_layout_st.head()

   State Code        State Name
0           1   Jammu & Kashmir
1           2  Himachal Pradesh
2           3            Punjab
3           4        Chandigarh
4           5       Uttarakhand

# LFPR data

In [165]:
pd.set_option('display.max_columns', None)

In [167]:
df = pd.read_csv(r"C:\Users\nssod\OneDrive\Desktop\Vivek_prof\PLFS_23-24\PLFS_Data_2023-24\perv1.txt", delimiter = '\t', header = None, names = col_names)
df.head()

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Person Serial No.,Relationship To Head,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,No. of years in Formal Education,Status of Current Attendance in Educational Institution,Whether received any Vocational/Technical Training,Whether Training completed during last 365 Days,Field Of Training,Duration Of Training,Type Of Training,Source Of Funding The Training,(Principal) Status Code,(Principal) Industry Code (NIC),(Principal) Occupation Code (NCO),Whether Engaged In Any Work In Subsidiary Capacity,(Principal) Location Of Workplace Code,(Principal) Enterprise Type Code,(Principal) No. Of Workers In The Enterprise,(Principal) Type Of Job Contract,(Principal) Eligble Of Paid Leave,(Principal) Social Security Benefits,(Principal) Usage of product of the economic activity,(Subsidiary) Status Code,(Subsidiary) Industry Code (NIC),(Subsidiary) Occupation Code (NCO),(Subsidiary) location Of Workplace Code,(Subsidiary) Enterprise Type Code,(Subsidiary) No. Of Workers In The Enterprise,(Subsidiary) Type Of Job Contract,(Subsidiary) Eligble Of Paid Leave,(Subsidiary) Social Security Benefits,(Subsidiary) Usage of product of the economic activity,Ever Worked Prior to last 365 days,Duration of engagement in the economic activity in usual Principal Activity Status,Duration of engagement in the economic activity in Subsidiary Activity Status,Efforts undertaken to search work,Duration of spell of Unemployment,Whether Ever Worked,Reason for not working in last 365 days,Main reason for being in Principal activity status (91 to 97),Status Code for activity 1 on 7 th day,Industry Code (NIC) for activity 1 on 7 th day,hours actuallly worked for activity 1 on 7 th day,wage earning for activity 1 on 7 th day,Status Code for activity 2 on 7 th day,Industry Code (NIC) for activity 2 on 7 th day,hours actuallly worked for activity 2 on 7 th day,wage earning for activity 2 on 7 th day,total hours actually worked on 7th day,hours available for aditional worked on 7th day,Status Code for activity 1 on 6 th day,Industry Code (NIC) for activity 1 on 6 th day,hours actuallly worked for activity 1 on 6 th day,wage earning for activity 1 on 6 th day,Status Code for activity 2 on 6 th day,Industry Code (NIC) for activity 2 on 6 th day,hours actuallly worked for activity 2 on 6 th day,wage earning for activity 2 on 6 th day,total hours actually worked on 6th day,hours available for aditional worked on 6th day,Status Code for activity 1 on 5 th day,Industry Code (NIC) for activity 1 on 5 th day,hours actuallly worked for activity 1 on 5 th day,wage earning for activity 1 on 5 th day,Status Code for activity 2 on 5 th day,Industry Code (NIC) for activity 2 on 5 th day,hours actuallly worked for activity 2 on 5 th day,wage earning for activity 2 on 5 th day,total hours actually worked on 5th day,hours available for aditional worked on 5th day,Status Code for activity 1 on 4th day,Industry Code (NIC) for activity 1 on 4th day,hours actuallly worked for activity 1 on 4th day,wage earning for activity 1 on 4th day,Status Code for activity 2 on 4th day,Industry Code (NIC) for activity 2 on 4th day,hours actuallly worked for activity 2 on 4th day,wage earning for activity 2 on 4th day,total hours actually worked on 4th day,hours available for aditional worked on 4th day,Status Code for activity 1 on 3rd day,Industry Code (NIC) for activity 1 on 3rd day,hours actuallly worked for activity 1 on 3rd day,wage earning for activity 1 on 3rd day,Status Code for activity 2 on 3rd day,Industry Code (NIC) for activity 2 on 3rd day,hours actuallly worked for activity 2 on 3rd day,wage earning for activity 2 on 3rd day,total hours actually worked on 3rd day,hours available for aditional worked on 3rd day,Status Code for activity 1 on 2nd day,Industry Code (NIC) for activity 1 on 2nd day,hours actuallly worked for activity 1 on 2nd day,wage earning for activity 1 on 2nd day,Status Code for activity 2 on 2nd day,Industry Code (NIC) for activity 2 on 2nd day,hours actuallly worked for activity 2 on 2nd day,wage earning for activity 2 on 2nd day,total hours actually worked on 2nd day,hours available for aditional worked on 2nd day,Status Code for activity 1 on 1st day,Industry Code (NIC) for activity 1 on 1st day,hours actuallly worked for activity 1 on 1st day,wage earning for activity 1 on 1st day,Status Code for activity 2 on 1st day,Industry Code (NIC) for activity 2 on 1st day,hours actuallly worked for activity 2 on 1st day,wage earning for activity 2 on 1st day,total hours actually worked on 1st day,hours available for aditional worked on 1st day,Current Weekly Status (CWS),Industry Code (CWS),Occupation Code (CWS),Earnings For Regular Salaried/Wage Activity,Earnings For Self Employed,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters
0,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,1,1,1,72,2,8,1,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,3.0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,0,0,NaN,NaN,0,0,0,0,94,NaN,NaN,0,0,2,4,246798,4
1,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,2,2,2,65,2,6,1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8.0,3.0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,NaN,0,0,2,4,246798,4
2,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,3,3,1,40,2,8,1,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,11,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,5,0,NaN,NaN,0,0,5,3,11,1.0,4,0,NaN,NaN,0,0,4,3,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,5,0,NaN,NaN,0,0,5,2,11,1.0,6,0,NaN,NaN,0,0,6,0,11,1.0,611.0,0,6500,2,4,246798,4
3,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,4,4,2,35,2,8,1,10,NaN,2.0,NaN,NaN,NaN,NaN,NaN,21,1132.0,611.0,2,NaN,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,6,0,NaN,NaN,0,0,6,2,21,1.0,4,0,NaN,NaN,0,0,4,4,21,1.0,5,0,NaN,NaN,0,0,5,0,21,1.0,4,0,NaN,NaN,0,0,4,3,21,1.0,5,0,NaN,NaN,0,0,5,3,21,1.0,611.0,0,0,2,4,246798,4
4,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,5,6,1,15,1,7,1,9,26.0,6.0,NaN,NaN,NaN,NaN,NaN,91,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,4.0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,0,0,NaN,NaN,0,0,0,0,91,NaN,NaN,0,0,2,4,246798,4

In [168]:
df[df.select_dtypes(include = 'float').columns] = df.select_dtypes(include = 'float').astype('Int64')

In [169]:
df.head()

,File Identification,Schdule,Quarter,Visit,Sector,State/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod Sub-Region,FSU,Sample Sg/Sb No.,Second Stage Stratum No.,Sample Household Number,Person Serial No.,Relationship To Head,Sex,Age,Marital Status,General Educaion Level,Technical Educaion Level,No. of years in Formal Education,Status of Current Attendance in Educational Institution,Whether received any Vocational/Technical Training,Whether Training completed during last 365 Days,Field Of Training,Duration Of Training,Type Of Training,Source Of Funding The Training,(Principal) Status Code,(Principal) Industry Code (NIC),(Principal) Occupation Code (NCO),Whether Engaged In Any Work In Subsidiary Capacity,(Principal) Location Of Workplace Code,(Principal) Enterprise Type Code,(Principal) No. Of Workers In The Enterprise,(Principal) Type Of Job Contract,(Principal) Eligble Of Paid Leave,(Principal) Social Security Benefits,(Principal) Usage of product of the economic activity,(Subsidiary) Status Code,(Subsidiary) Industry Code (NIC),(Subsidiary) Occupation Code (NCO),(Subsidiary) location Of Workplace Code,(Subsidiary) Enterprise Type Code,(Subsidiary) No. Of Workers In The Enterprise,(Subsidiary) Type Of Job Contract,(Subsidiary) Eligble Of Paid Leave,(Subsidiary) Social Security Benefits,(Subsidiary) Usage of product of the economic activity,Ever Worked Prior to last 365 days,Duration of engagement in the economic activity in usual Principal Activity Status,Duration of engagement in the economic activity in Subsidiary Activity Status,Efforts undertaken to search work,Duration of spell of Unemployment,Whether Ever Worked,Reason for not working in last 365 days,Main reason for being in Principal activity status (91 to 97),Status Code for activity 1 on 7 th day,Industry Code (NIC) for activity 1 on 7 th day,hours actuallly worked for activity 1 on 7 th day,wage earning for activity 1 on 7 th day,Status Code for activity 2 on 7 th day,Industry Code (NIC) for activity 2 on 7 th day,hours actuallly worked for activity 2 on 7 th day,wage earning for activity 2 on 7 th day,total hours actually worked on 7th day,hours available for aditional worked on 7th day,Status Code for activity 1 on 6 th day,Industry Code (NIC) for activity 1 on 6 th day,hours actuallly worked for activity 1 on 6 th day,wage earning for activity 1 on 6 th day,Status Code for activity 2 on 6 th day,Industry Code (NIC) for activity 2 on 6 th day,hours actuallly worked for activity 2 on 6 th day,wage earning for activity 2 on 6 th day,total hours actually worked on 6th day,hours available for aditional worked on 6th day,Status Code for activity 1 on 5 th day,Industry Code (NIC) for activity 1 on 5 th day,hours actuallly worked for activity 1 on 5 th day,wage earning for activity 1 on 5 th day,Status Code for activity 2 on 5 th day,Industry Code (NIC) for activity 2 on 5 th day,hours actuallly worked for activity 2 on 5 th day,wage earning for activity 2 on 5 th day,total hours actually worked on 5th day,hours available for aditional worked on 5th day,Status Code for activity 1 on 4th day,Industry Code (NIC) for activity 1 on 4th day,hours actuallly worked for activity 1 on 4th day,wage earning for activity 1 on 4th day,Status Code for activity 2 on 4th day,Industry Code (NIC) for activity 2 on 4th day,hours actuallly worked for activity 2 on 4th day,wage earning for activity 2 on 4th day,total hours actually worked on 4th day,hours available for aditional worked on 4th day,Status Code for activity 1 on 3rd day,Industry Code (NIC) for activity 1 on 3rd day,hours actuallly worked for activity 1 on 3rd day,wage earning for activity 1 on 3rd day,Status Code for activity 2 on 3rd day,Industry Code (NIC) for activity 2 on 3rd day,hours actuallly worked for activity 2 on 3rd day,wage earning for activity 2 on 3rd day,total hours actually worked on 3rd day,hours available for aditional worked on 3rd day,Status Code for activity 1 on 2nd day,Industry Code (NIC) for activity 1 on 2nd day,hours actuallly worked for activity 1 on 2nd day,wage earning for activity 1 on 2nd day,Status Code for activity 2 on 2nd day,Industry Code (NIC) for activity 2 on 2nd day,hours actuallly worked for activity 2 on 2nd day,wage earning for activity 2 on 2nd day,total hours actually worked on 2nd day,hours available for aditional worked on 2nd day,Status Code for activity 1 on 1st day,Industry Code (NIC) for activity 1 on 1st day,hours actuallly worked for activity 1 on 1st day,wage earning for activity 1 on 1st day,Status Code for activity 2 on 1st day,Industry Code (NIC) for activity 2 on 1st day,hours actuallly worked for activity 2 on 1st day,wage earning for activity 2 on 1st day,total hours actually worked on 1st day,hours available for aditional worked on 1st day,Current Weekly Status (CWS),Industry Code (CWS),Occupation Code (CWS),Earnings For Regular Salaried/Wage Activity,Earnings For Self Employed,Ns count for sector x stratum x substratum x sub-sample,Ns count for sector x stratum x substratum,Sub-sample wise Multiplier,Occurence of FSUs in State x Sector x Stratum x SubStratum in 4 Quarters
0,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,1,1,1,72,2,8,1,10,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,94,<NA>,<NA>,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,5,3,94,<NA>,0,0,<NA>,<NA>,0,0,0,0,94,<NA>,0,0,<NA>,<NA>,0,0,0,0,94,<NA>,0,0,<NA>,<NA>,0,0,0,0,94,<NA>,0,0,<NA>,<NA>,0,0,0,0,94,<NA>,0,0,<NA>,<NA>,0,0,0,0,94,<NA>,0,0,<NA>,<NA>,0,0,0,0,94,<NA>,0,0,<NA>,<NA>,0,0,0,0,94,<NA>,<NA>,0,0,2,4,246798,4
1,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,2,2,2,65,2,6,1,6,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,93,<NA>,<NA>,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,8,3,93,<NA>,0,0,<NA>,<NA>,0,0,0,0,93,<NA>,0,0,<NA>,<NA>,0,0,0,0,93,<NA>,0,0,<NA>,<NA>,0,0,0,0,93,<NA>,0,0,<NA>,<NA>,0,0,0,0,93,<NA>,0,0,<NA>,<NA>,0,0,0,0,93,<NA>,0,0,<NA>,<NA>,0,0,0,0,93,<NA>,0,0,<NA>,<NA>,0,0,0,0,93,<NA>,<NA>,0,0,2,4,246798,4
2,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,3,3,1,40,2,8,1,10,<NA>,2,<NA>,<NA>,<NA>,<NA>,<NA>,11,1132,611,2,<NA>,1,1,<NA>,<NA>,<NA>,3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,5,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,11,1,4,0,<NA>,<NA>,0,0,4,0,11,1,5,0,<NA>,<NA>,0,0,5,3,11,1,4,0,<NA>,<NA>,0,0,4,3,11,1,5,0,<NA>,<NA>,0,0,5,2,11,1,6,0,<NA>,<NA>,0,0,6,0,11,1,5,0,<NA>,<NA>,0,0,5,2,11,1,6,0,<NA>,<NA>,0,0,6,0,11,1,611,0,6500,2,4,246798,4
3,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,4,4,2,35,2,8,1,10,<NA>,2,<NA>,<NA>,<NA>,<NA>,<NA>,21,1132,611,2,<NA>,1,1,<NA>,<NA>,<NA>,3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,5,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,21,1,4,0,<NA>,<NA>,0,0,4,3,21,1,5,0,<NA>,<NA>,0,0,5,3,21,1,6,0,<NA>,<NA>,0,0,6,2,21,1,4,0,<NA>,<NA>,0,0,4,4,21,1,5,0,<NA>,<NA>,0,0,5,0,21,1,4,0,<NA>,<NA>,0,0,4,3,21,1,5,0,<NA>,<NA>,0,0,5,3,21,1,611,0,0,2,4,246798,4
4,FVP7,104,Q1,V1,1,2,4,21,1,14,1,213,10002,1,1,1,5,6,1,15,1,7,1,9,26,6,<NA>,<NA>,<NA>,<NA>,<NA>,91,<NA>,<NA>,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,<NA>,4,91,<NA>,0,0,<NA>,<NA>,0,0,0,0,91,<NA>,0,0,<NA>,<NA>,0,0,0,0,91,<NA>,0,0,<NA>,<NA>,0,0,0,0,91,<NA>,0,0,<NA>,<NA>,0,0,0,0,91,<NA>,0,0,<NA>,<NA>,0,0,0,0,91,<NA>,0,0,<NA>,<NA>,0,0,0,0,91,<NA>,0,0,<NA>,<NA>,0,0,0,0,91,<NA>,<NA>,0,0,2,4,246798,4

# PERV1 codes

In [171]:
sector = {1: 'Rural', 2: 'Urban'}
state_code= dict(zip(data_layout_st['State Code'], data_layout_st['State Name']))
sex = {1: 'Male', 2: 'Female', 3: 'Transgender'}
Marital_Status = {1: 'Never Married', 2: 'Currently married', 3: 'Widowed', 4: 'Seperated'}
General_education_level = {1:'not literate', 2: 'literate without formal schooling- EGS/ NFEC/ AEC', 
                           3: 'TLC', 4: 'others', 5: 'literate- below primary', 6: 'primary', 
                           7: 'middle', 8: 'secondary',10: 'higher secondary', 
                           11: 'diploma/certificate course', 12: 'graduate', 
                           13: 'postgraduate and above'}
Technical_education_level = {1: 'no technical education', 2: 'technical degree in agriculture', 
                             3: 'engineering/ technology', 4: 'medicine',5: 'crafts', 6: 'other subjects', 
                             7: 'diploma or certificate (below graduate level) in agriculture', 
                             8: 'engineering/technology', 9: 'medicine', 10: 'crafts', 
                             11: 'other subjects', 12: 'diploma or certificate (graduate and above level) in agriculture', 
                             13: 'engineering/technology', 14: 'medicine', 15: 'crafts', 16: 'other subjects'}
Current_educational_attendance = {1: 'currently not attending (CNA)_never attended: school too far', 
                                  2: 'CNA_to supplement household income', 3: 'CNA_education not considered necessary', 
                                  4: 'CNA_to attend domestic chores', 5: 'CNA_others', 11: 'ever attended but currently not attending (EANA)_school too far',
                                  12: 'EANA_to supplement household income', 13: 'EANA_education not considered necessary', 14: 'EANA_to attend domestic chores', 15: 'EANA_others',
                                  21: 'currently attending in (CA)_EGS/ NFEC/ AEC',22: 'CA_TLC', 23: 'pre-primary (nursery/ Kindergarten, etc.)', 
                                  24: 'primary (class I to IV/ V)', 25: 'middle', 26: 'secondary', 27: 'higher secondary', 
                                  28: 'graduate in: agriculture', 29: 'engineering/ technology', 30: 'medicine', 31: 'other subjects',
                                  32: 'post graduate and above', 33: 'diploma or certificate (below graduate level) in:agriculture', 34: 'engineering/ technology',
                                  35: 'medicine', 36: 'crafts', 37: 'other subjects', 38: 'diploma or certificate (graduate level) in: agriculture',
                                  39: 'engineering/ technology', 40: 'medicine',41: 'crafts', 42: 'other subjects', 
                                  43: 'diploma or certificate in post graduate and above level- 43'}
Reecived_Voc_training = {1: 'yes: received formal vocational/technical training', 
                         2: 'received vocational/technical training other than formal vocational/technical training: hereditary', 
                         3: 'self-learning', 4: 'learning on the job', 5: 'others', 6: 'did not receive any vocational/technical training'}

In [172]:
df['Sector'] = df['Sector'].map(sector)
df['State/Ut Code'] = df['State/Ut Code'].map(state_code)
df['Sex'] = df['Sex'].map(sex)

In [173]:
df.rename(columns ={'State/Ut Code': 'State'}, inplace = True)

Age Brackets = (0-4, 5-14, 15-29), (15-59), (15-above), (0-4, 5-9, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40-44, 45-49, 50-54, 55-59, 60-64, 65 & above)
Number of years in formal education = (1-4, 5-8, 9-10, 11-12. 13-17, greater than 18)
usual status = employed, unemployed, otside labour force

In [176]:
# createing a column for age bracket 0-29 
age_bins_0_29 = [0, 5, 15, 30, float('inf')]  # Define age ranges
age_labels_0_29 = ['0-4 years', '5-14 years', '15-29 years', '30 years and above']  # Corresponding labels

df['Age_bracket (0-29)'] = pd.cut(df['Age'], bins=age_bins_0_29, labels=age_labels_0_29, right = False)

# creating a column for age bracket 15-29  
age_bins_15_59 = [0, 15, 60, float('inf')]  # Define age ranges
age_labels_15_59 = ['0-14 years', '15-59 years', '60 years and above']  # Corresponding labels

df['Age_bracket(15-59)'] = pd.cut(df['Age'], bins = age_bins_15_59, labels = age_labels_15_59, right = False)

# creating a column for age bracket 15 and above
age_bins_above_15 = [0, 15, float('inf')]
age_label_above_15 = ['0-14 years', '15 years and above']

df['Age_bracket(15 and above)'] = pd.cut(df['Age'], bins = age_bins_above_15, labels = age_label_above_15, right = False)

# creating a column for age bracket 0-65
age_bins_0_65 = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, float('inf')]
age_label_0_65 = ('0-4 years', '5-9 years', '10-14 years', '15-19 years', '20-24 years', '25-29 years', '30-34 years', '35-39 years', '40-44 years', '45-49 years', '50-54 years', '55-59 years', '60-64 years', '65 years & above')

df['age_bracket(0-65)'] = pd.cut(df['Age'], bins = age_bins_0_65, labels = age_label_0_65, right = False)

# Tabulation

In [178]:
df_rural = df[df['Sector'] == 'Rural']
df_urban = df[df['Sector'] == 'Urban']

### Table 1 (Rural) (df_rt1): Number of villages/blocks, households surveyed and persons enumerated by age and gender for each State

In [180]:
from openpyxl import Workbook

#Table1: rural: column 1

df_rt1_c1 = df_rural.groupby('State')['FSU'].nunique().rename('Number of surveyed villages').reset_index()
df_rt1_c1.loc[len(df_rt1_c1)] = ('All India', df_rt1_c1['Number of surveyed villages'].sum())
df_rt1_c1 = df_rt1_c1.set_index('State')
df_rt1_c1.columns = pd.MultiIndex.from_product([[' '], df_rt1_c1.columns])

#Table1: rural: column 2

df_rt1_c2_sf = df_rural.groupby(['State', 'NSS-Region', 'Stratum','Sub-Stratum','Sub-Sample','FSU','Sample Sg/Sb No.','Second Stage Stratum No.'])['Sample Household Number'].nunique().reset_index()
df_rt1_c2 = df_rt1_c2_sf.groupby('State')['Sample Household Number'].sum().rename('Households').reset_index()
df_rt1_c2.loc[len(df_rt1_c2)] = ('All India', df_rt1_c2['Households'].sum())
df_rt1_c2 = df_rt1_c2.set_index('State')
df_rt1_c2.columns = pd.MultiIndex.from_product([[' '], df_rt1_c2.columns])

#Table1: rural: column 3

rt1_c3_1 = df_rural.groupby(['State',  'Sex','Age_bracket (0-29)']).size().unstack()
rt1_c3_summary_total = rt1_c3_1.groupby('State').sum()
rt1_c3_summary_total['Sex'] = 'Persons'  # Mark the row as Total
rt1_c3_summary_total.set_index('Sex', append=True, inplace=True)
rt1_c3 = pd.concat([rt1_c3_1, rt1_c3_summary_total]).sort_index(level=0)
rt1_c3 = rt1_c3.drop(index='Transgender', level=1)
df_rt1_c3 = rt1_c3.unstack(level = 1)
df_rt1_c3.drop(columns = '30 years and above', level = 'Age_bracket (0-29)', inplace = True)
df_rt1_c3_total = df_rt1_c3.sum(axis=0, numeric_only=True)  # Calculate column-wise total
df_rt1_c3_total.name = 'All India'  # Name the new row
df_rt1_c3 = pd.concat([df_rt1_c3, df_rt1_c3_total.to_frame().T])

#Table1: rural: column 4

rt1_c4_1 = df_rural.groupby(['State',  'Sex','Age_bracket(15-59)']).size().unstack()
rt1_c4_summary_total = rt1_c4_1.groupby('State').sum()
rt1_c4_summary_total['Sex'] = 'Persons'  # Mark the row as Total
rt1_c4_summary_total.set_index('Sex', append=True, inplace=True)
rt1_c4 = pd.concat([rt1_c4_1, rt1_c4_summary_total]).sort_index(level=0)
rt1_c4 = rt1_c4.drop(index='Transgender', level=1)
df_rt1_c4 = rt1_c4.unstack(level = 1)
df_rt1_c4.drop(columns = ['0-14 years','60 years and above'], level ='Age_bracket(15-59)', inplace = True)
df_rt1_c4_total = df_rt1_c4.sum(axis=0, numeric_only=True)  
df_rt1_c4_total.name = 'All India'
df_rt1_c4 = pd.concat([df_rt1_c4, df_rt1_c4_total.to_frame().T])

#Table1: rural: column 5

rt1_c5_1 = df_rural.groupby(['State',  'Sex','Age_bracket(15 and above)']).size().unstack()
rt1_c5_summary_total = rt1_c5_1.groupby('State').sum()
rt1_c5_summary_total['Sex'] = 'Persons' 
rt1_c5_summary_total.set_index('Sex', append=True, inplace=True)
rt1_c5 = pd.concat([rt1_c5_1, rt1_c5_summary_total]).sort_index(level=0)
rt1_c5 = rt1_c5.drop(index='Transgender', level=1)
df_rt1_c5 = rt1_c5.unstack(level = 1)
df_rt1_c5.drop(columns = '0-14 years', level = 'Age_bracket(15 and above)', inplace = True)
df_rt1_c5_total = df_rt1_c5.sum(axis=0, numeric_only=True)
df_rt1_c5_total.name = 'All India'
df_rt1_c5 = pd.concat([df_rt1_c5, df_rt1_c5_total.to_frame().T])

#Table1: rural: column 6

df_rt1_c6 = df_rural.groupby(['State',  'Sex']).size().unstack(fill_value = 0)
df_rt1_c6['Persons'] = df_rt1_c6[['Female', 'Male', 'Transgender']].sum(axis = 1)
df_rt1_c6.columns = pd.MultiIndex.from_product([['All_ages'], df_rt1_c6.columns])
df_rt1_c6_total = df_rt1_c6.sum(axis = 0, numeric_only = True)
df_rt1_c6_total.name = 'All India'
df_rt1_c6 = pd.concat([df_rt1_c6, df_rt1_c6_total.to_frame().T])

#concating all the columns to complete the table 1: rural

df_rt1 = pd.concat([df_rt1_c1, df_rt1_c2, df_rt1_c3, df_rt1_c4, df_rt1_c5, df_rt1_c6], axis=1)

#inserting row for column no.
df_rt1_Column_number = [f"({i+2})" for i in range(len(df_rt1.columns))]
df_rt1_insert_position = df_rt1.index.get_loc('Andaman & N. Island')
df_rt1 = pd.concat([df_rt1.iloc[:df_rt1_insert_position], pd.DataFrame([df_rt1_Column_number], index = ['(1)'], columns = df_rt1.columns), df_rt1.iloc[df_rt1_insert_position:]])

#Moveing UTs at the after states 
df_rt1_rows_to_move = df_rt1.loc[['Andaman & N. Island','D & N. Haveli & Daman & Diu','Jammu & Kashmir','Ladakh','Lakshadweep','Puduchery']]
df_rt1.drop(['Andaman & N. Island','D & N. Haveli & Daman & Diu','Jammu & Kashmir','Ladakh','Lakshadweep','Puduchery'], inplace = True)
df_rt1 = pd.concat([df_rt1.loc[:'West Bengal'],df_rt1_rows_to_move, df_rt1.loc['All India':]])

# renameing the necessary columns
df_rt1.rename(columns = {'D & N. Haveli & Daman & Diu': 'Dadra & Nagar Haveli & Daman & Diu'}, inplace = True)

# assigning a name to the index column
df_rt1.index.name = 'State/UT'

C:\Users\nssod\AppData\Local\Temp\ipykernel_13292\1758459146.py:20: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  rt1_c3_1 = df_rural.groupby(['State',  'Sex','Age_bracket (0-29)']).size().unstack()
C:\Users\nssod\AppData\Local\Temp\ipykernel_13292\1758459146.py:35: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  rt1_c4_1 = df_rural.groupby(['State',  'Sex','Age_bracket(15-59)']).size().unstack()
C:\Users\nssod\AppData\Local\Temp\ipykernel_13292\1758459146.py:49: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  rt1_c5_1 = df_rural.groupby(['State',  'Sex','Age_bracket(15 and above)']).size().unstack()

In [193]:
df_rt1

                                                                   0-4 years  \
                            Number of surveyed villages Households    Female
State/UT
(1)                                                 (2)        (3)       (4)
Andhra Pradesh                                      270       2160       203
Arunachal Pradesh                                   136       1084       164
Assam                                               327       2616       443
Bihar                                               400       3200       883
Chhattisgarh                                        175       1400       260
Delhi                                                 8         64         7
Goa                                                  24        192        14
Gujarat                                             208       1664       284
Haryana                                             167       1336       204
Himachal Pradesh                                    207       1656       154
Jharkhand                                           207       1656       388
Karnataka                                           224       1792       186
Kerala                                              263       2104       203
Madhya Pradesh                                      332       2656       553
Maharashtra                                         448       3584       404
Manipur                                             139       1112       207
Meghalaya                                           104        832       279
Mizoram                                              64        512        99
Nagaland                                             71        568       129
Odisha                                              358       2864       420
Punjab                                              191       1528       168
Rajasthan                                           312       2496       521
Sikkim                                               56        448        32
Tamilnadu                                           392       3136       310
Telangana                                           159       1272       134
Tripura                                             152       1216       124
Uttar Pradesh                                       728       5824      1330
Uttarakhand                                         120        960       150
West Bengal                                         424       3392       515
Andaman & N. Island                                  30        240        20
D & N. Haveli & Daman & Diu                          16        128        20
Jammu & Kashmir                                     223       1784       333
Ladakh                                               16        128        12
Lakshadweep                                           8         64        11
Puduchery                                            16        128        18
All India                                          6975      55796      9182

                                          5-14 years                 \
                             Male Persons     Female   Male Persons
State/UT
(1)                           (5)     (6)        (7)    (8)     (9)
Andhra Pradesh                231     434        533    598    1131
Arunachal Pradesh             166     330        533    534    1067
Assam                         441     884       1046   1110    2156
Bihar                        1091    1974       1735   1889    3624
Chhattisgarh                  219     479        491    511    1002
Delhi                           3      10         15     25      40
Goa                            16      30         54     56     110
Gujarat                       331     615        573    674    1247
Haryana                       246     450        500    634    1135
Himachal Pradesh              189     343        409    495     904
Jharkhand                     417     805        741    880    1621
Karnataka                     199     385        538    573    1111
Kerala                        217     420        526    541    1067
Madhya Pradesh                629    1182       1012   1106    2118
Maharashtra                   430     834       1051   1173    2224
Manipur                       225     432        467    488     955
Meghalaya                     207     486        529    535    1064
Mizoram                        77     176        239    233     472
Nagaland                      116     245        354    328     682
Odisha                        425     845        811    894    1705
Punjab                        191     359        523    529    1052
Rajasthan                     566    1087       1116   1269    2385
Sikkim                         34      66         90    111     201
Tamilnadu                     358     668        777    856    1633
Telangana                     151     285        344    363     707
Tripura                       132     256        296    307     603
Uttar Pradesh                1510    2840       2754   3099    5853
Uttarakhand                   128     278        285    373     658
West Bengal                   527    1042        985   1002    1987
Andaman & N. Island            22      42         59     67     126
D & N. Haveli & Daman & Diu    22      42         41     52      93
Jammu & Kashmir               353     686        803    909    1712
Ladakh                         30      42         48     60     108
Lakshadweep                     7      18         15     15      30
Puduchery                      10      28         22     50      72
All India                    9916   19098      20315  22339   42655

                            15-29 years                15-59 years         \
                                 Female   Male Persons      Female   Male
State/UT
(1)                                (10)   (11)    (12)        (13)   (14)
Andhra Pradesh                      872    990    1862        2602   2617
Arunachal Pradesh                   665    732    1397        1698   1819
Assam                              1598   1664    3262        3963   4054
Bihar                              2154   2247    4401        4708   4723
Chhattisgarh                        937    995    1932        2168   2166
Delhi                                21     42      63          63     85
Goa                                  63     63     126         216    225
Gujarat                            1149   1217    2366        2644   2742
Haryana                             645    813    1458        1692   1933
Himachal Pradesh                    560    584    1144        1885   1704
Jharkhand                          1173   1135    2308        2511   2400
Karnataka                           776    954    1730        2272   2390
Kerala                              610    589    1199        2195   1871
Madhya Pradesh                     1909   2094    4003        4238   4472
Maharashtra                        1523   1976    3499        4570   4919
Manipur                             551    523    1074        1540   1529
Meghalaya                           642    677    1319        1355   1350
Mizoram                             211    287     498         700    781
Nagaland                            234    220     454         741    734
Odisha                             1625   1402    3027        4052   3603
Punjab                              660    783    1443        1927   2059
Rajasthan                          1766   1718    3485        3842   3599
Sikkim                              202    211     413         581    599
Tamilnadu                          1209   1190    2399        3674   3402
Telangana                           507    593    1100        1520   1524
Tripura                             582    680    1262        1627   1742
Uttar Pradesh                      4011   3981    7992        8851   8439
Uttarakhand                         486    478     964        1189   1117
West Bengal                        1997   1836    3833        4802   4604
Andaman & N. Island                  73     93     166         286    296
D & N. Haveli & Daman & Diu          90    110     200         206    215
Jammu & Kashmir                    1009   1128    2137        2643   2710
Ladakh                               63     76     139         196    211
Lakshadweep                          13     23      36          64     83
Puduchery                            49     50      99         155    142
All India                         30635  32154   62790       77376  76859

                                    15 years and above                 \
                            Persons             Female   Male Persons
State/UT
(1)                            (15)               (16)   (17)    (18)
Andhra Pradesh                 5219               3062   3032    6094
Arunachal Pradesh              3517               1852   1993    3845
Assam                          8017               4491   4620    9111
Bihar                          9431               5261   5391   10652
Chhattisgarh                   4334               2460   2454    4914
Delhi                           148                 74     91     165
Goa                             441                283    277     560
Gujarat                        5386               3127   3140    6267
Haryana                        3625               2071   2252    4323
Himachal Pradesh               3589               2406   2149    4555
Jharkhand                      4911               2849   2747    5596
Karnataka                      4662               2834   2880    5714
Kerala                         4066               3068   2569    5637
Madhya Pradesh                 8710               4793   5049    9842
Maharashtra                    9489               5712   5903   11615
Manipur                        3069               1776   1763    3539
Meghalaya                      2705               1483   1443    2926
Mizoram                        1481                833    912    1745
Nagaland                       1475                842    847    1689
Odisha                         7655               4797   4321    9118
Punjab                         3986               2401   2505    4906
Rajasthan                      7442               4543   4246    8790
Sikkim                         1180                644    697    1341
Tamilnadu                      7076               4492   4117    8609
Telangana                      3044               1825   1772    3597
Tripura                        3369               1926   2031    3957
Uttar Pradesh                 17290               9988   9683   19671
Uttarakhand                    2306               1459   1344    2803
West Bengal                    9406               5463   5348   10811
Andaman & N. Island             582                326    341     667
D & N. Haveli & Daman & Diu     421                231    232     463
Jammu & Kashmir                5353               3041   3184    6225
Ladakh                          407                231    262     493
Lakshadweep                     147                 83    103     186
Puduchery                       297                193    174     367
All India                    154236              90920  89872  180793

                            All_ages
                              Female    Male Transgender Persons
State/UT
(1)                             (19)    (20)        (21)    (22)
Andhra Pradesh                  3798    3861           0    7659
Arunachal Pradesh               2549    2693           0    5242
Assam                           5980    6171           0   12151
Bihar                           7879    8371           0   16250
Chhattisgarh                    3211    3184           0    6395
Delhi                             96     119           0     215
Goa                              351     349           0     700
Gujarat                         3984    4145           0    8129
Haryana                         2775    3132           1    5908
Himachal Pradesh                2969    2833           0    5802
Jharkhand                       3978    4044           0    8022
Karnataka                       3558    3652           0    7210
Kerala                          3797    3327           0    7124
Madhya Pradesh                  6358    6784           0   13142
Maharashtra                     7167    7506           0   14673
Manipur                         2450    2476           0    4926
Meghalaya                       2291    2185           0    4476
Mizoram                         1171    1222           0    2393
Nagaland                        1325    1291           0    2616
Odisha                          6028    5640           0   11668
Punjab                          3092    3225           0    6317
Rajasthan                       6180    6081           1   12262
Sikkim                           766     842           0    1608
Tamilnadu                       5579    5331           0   10910
Telangana                       2303    2286           0    4589
Tripura                         2346    2470           0    4816
Uttar Pradesh                  14072   14292           0   28364
Uttarakhand                     1894    1845           0    3739
West Bengal                     6963    6877           0   13840
Andaman & N. Island              405     430           0     835
D & N. Haveli & Daman & Diu      292     306           0     598
Jammu & Kashmir                 4177    4446           0    8623
Ladakh                           291     352           0     643
Lakshadweep                      109     125           0     234
Puduchery                        233     234           0     467
All India                     120417  122127           2  242546

### Table 1 (Urban) (df_ut1): Number of villages/blocks, households surveyed and persons enumerated by age and gender for each State

In [199]:

#Table1: Urban: column 1

df_ut1_c1 = df_urban.groupby('State')['FSU'].nunique().rename('Number of surveyed villages').reset_index()
df_ut1_c1.loc[len(df_ut1_c1)] = ('All India', df_ut1_c1['Number of surveyed villages'].sum())
df_ut1_c1 = df_ut1_c1.set_index('State')
df_ut1_c1.columns = pd.MultiIndex.from_product([[' '], df_ut1_c1.columns])

#Table1: rural: column 2

df_ut1_c2_sf = df_urban.groupby(['State', 'NSS-Region', 'Stratum','Sub-Stratum','Sub-Sample','FSU','Sample Sg/Sb No.','Second Stage Stratum No.'])['Sample Household Number'].nunique().reset_index()
df_ut1_c2 = df_ut1_c2_sf.groupby('State')['Sample Household Number'].sum().rename('Households').reset_index()
df_ut1_c2.loc[len(df_ut1_c2)] = ('All India', df_ut1_c2['Households'].sum())
df_ut1_c2 = df_ut1_c2.set_index('State')
df_ut1_c2.columns = pd.MultiIndex.from_product([[' '], df_ut1_c2.columns])

#Table1: rural: column 3

ut1_c3_1 = df_urban.groupby(['State',  'Sex','Age_bracket (0-29)']).size().unstack()
ut1_c3_summary_total = ut1_c3_1.groupby('State').sum()
ut1_c3_summary_total['Sex'] = 'Persons'  # Mark the row as Total
ut1_c3_summary_total.set_index('Sex', append=True, inplace=True)
ut1_c3 = pd.concat([ut1_c3_1, ut1_c3_summary_total]).sort_index(level=0)
ut1_c3 = ut1_c3.drop(index='Transgender', level=1)
df_ut1_c3 = ut1_c3.unstack(level = 1)
df_ut1_c3.drop(columns = '30 years and above', level = 'Age_bracket (0-29)', inplace = True)
df_ut1_c3_total = df_ut1_c3.sum(axis=0, numeric_only=True)  # Calculate column-wise total
df_ut1_c3_total.name = 'All India'  # Name the new row
df_ut1_c3 = pd.concat([df_ut1_c3, df_ut1_c3_total.to_frame().T])

#Table1: rural: column 4

ut1_c4_1 = df_urban.groupby(['State',  'Sex','Age_bracket(15-59)']).size().unstack()
ut1_c4_summary_total = ut1_c4_1.groupby('State').sum()
ut1_c4_summary_total['Sex'] = 'Persons'  # Mark the row as Total
ut1_c4_summary_total.set_index('Sex', append=True, inplace=True)
ut1_c4 = pd.concat([ut1_c4_1, ut1_c4_summary_total]).sort_index(level=0)
ut1_c4 = ut1_c4.drop(index='Transgender', level=1)
df_ut1_c4 = ut1_c4.unstack(level = 1)
df_ut1_c4.drop(columns = ['0-14 years','60 years and above'], level ='Age_bracket(15-59)', inplace = True)
df_ut1_c4_total = df_ut1_c4.sum(axis=0, numeric_only=True)  
df_ut1_c4_total.name = 'All India'
df_ut1_c4 = pd.concat([df_ut1_c4, df_ut1_c4_total.to_frame().T])

#Table1: rural: column 5

ut1_c5_1 = df_urban.groupby(['State',  'Sex','Age_bracket(15 and above)']).size().unstack()
ut1_c5_summary_total = ut1_c5_1.groupby('State').sum()
ut1_c5_summary_total['Sex'] = 'Persons' 
ut1_c5_summary_total.set_index('Sex', append=True, inplace=True)
ut1_c5 = pd.concat([ut1_c5_1, ut1_c5_summary_total]).sort_index(level=0)
ut1_c5 = ut1_c5.drop(index='Transgender', level=1)
df_ut1_c5 = ut1_c5.unstack(level = 1)
df_ut1_c5.drop(columns = '0-14 years', level = 'Age_bracket(15 and above)', inplace = True)
df_ut1_c5_total = df_ut1_c5.sum(axis=0, numeric_only=True)
df_ut1_c5_total.name = 'All India'
df_ut1_c5 = pd.concat([df_ut1_c5, df_ut1_c5_total.to_frame().T])

#Table1: rural: column 6

df_ut1_c6 = df_urban.groupby(['State',  'Sex']).size().unstack(fill_value = 0)
df_ut1_c6['Persons'] = df_ut1_c6[['Female', 'Male', 'Transgender']].sum(axis = 1)
df_ut1_c6.columns = pd.MultiIndex.from_product([['All_ages'], df_ut1_c6.columns])
df_ut1_c6_total = df_ut1_c6.sum(axis = 0, numeric_only = True)
df_ut1_c6_total.name = 'All India'
df_ut1_c6 = pd.concat([df_ut1_c6, df_ut1_c6_total.to_frame().T])

#concating all the columns to complete the table 1: rural

df_ut1 = pd.concat([df_ut1_c1, df_ut1_c2, df_ut1_c3, df_ut1_c4, df_ut1_c5, df_ut1_c6], axis=1)

#inserting row for column no.
df_ut1_Column_number = [f"({i+2})" for i in range(len(df_ut1.columns))]
df_ut1_insert_position = df_ut1.index.get_loc('Andaman & N. Island')
df_ut1 = pd.concat([df_ut1.iloc[:df_ut1_insert_position], pd.DataFrame([df_ut1_Column_number], index = ['(1)'], columns = df_ut1.columns), df_ut1.iloc[df_ut1_insert_position:]])

#Moveing UTs at the after states 
df_ut1_rows_to_move = df_ut1.loc[['Andaman & N. Island','D & N. Haveli & Daman & Diu','Jammu & Kashmir','Ladakh','Lakshadweep','Puduchery']]
df_ut1.drop(['Andaman & N. Island','D & N. Haveli & Daman & Diu','Jammu & Kashmir','Ladakh','Lakshadweep','Puduchery'], inplace = True)
df_ut1 = pd.concat([df_ut1.loc[:'West Bengal'],df_ut1_rows_to_move, df_ut1.loc['All India':]])

# renameing the necessary columns
df_ut1.rename(columns = {'D & N. Haveli & Daman & Diu': 'Dadra & Nagar Haveli & Daman & Diu'}, inplace = True)

# assigning a name to the index column
df_ut1.index.name = 'State/UT'

C:\Users\nssod\AppData\Local\Temp\ipykernel_13292\2670723407.py:18: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ut1_c3_1 = df_urban.groupby(['State',  'Sex','Age_bracket (0-29)']).size().unstack()
C:\Users\nssod\AppData\Local\Temp\ipykernel_13292\2670723407.py:32: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ut1_c4_1 = df_urban.groupby(['State',  'Sex','Age_bracket(15-59)']).size().unstack()
C:\Users\nssod\AppData\Local\Temp\ipykernel_13292\2670723407.py:46: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ut1_c5_1 = df_urban.groupby(['State',  'Sex','Age_bracket(15 and above)']).size().unstack()

In [201]:
df_ut1

                                                                   0-4 years  \
                            Number of surveyed villages Households    Female
State/UT
(1)                                                 (2)        (3)       (4)
Andhra Pradesh                                      224       1792       140
Arunachal Pradesh                                    80        640        84
Assam                                               112        896        76
Bihar                                               168       1344       285
Chandigarh                                           48        382        37
Chhattisgarh                                        103        824        97
Delhi                                               120        960        98
Goa                                                  32        256        27
Gujarat                                             231       1847       217
Haryana                                             160       1280       142
Himachal Pradesh                                     48        384        29
Jharkhand                                           136       1088       131
Karnataka                                           295       2359       207
Kerala                                              304       2432       251
Madhya Pradesh                                      247       1974       254
Maharashtra                                         557       4448       434
Manipur                                             157       1256       185
Meghalaya                                            55        440        44
Mizoram                                             128       1024       180
Nagaland                                             56        448        64
Odisha                                              136       1087       120
Punjab                                              208       1664       192
Rajasthan                                           216       1728       235
Sikkim                                               40        320        21
Tamilnadu                                           438       3504       316
Telangana                                           197       1576       140
Tripura                                              80        640        46
Uttar Pradesh                                       408       3262       485
Uttarakhand                                          96        768        96
West Bengal                                         376       3005       293
Andaman & N. Island                                  32        256        18
D & N. Haveli & Daman & Diu                          24        192        17
Jammu & Kashmir                                     168       1344       172
Ladakh                                               16        128        14
Lakshadweep                                          16        128        13
Puduchery                                            56        448        37
All India                                          5768      46124      5197

                                          5-14 years                 \
                             Male Persons     Female   Male Persons
State/UT
(1)                           (5)     (6)        (7)    (8)     (9)
Andhra Pradesh                149     289        387    377     764
Arunachal Pradesh              72     156        230    236     466
Assam                          99     175        212    211     423
Bihar                         302     587        538    592    1130
Chandigarh                     33      70         77     99     176
Chhattisgarh                   74     171        192    236     428
Delhi                         101     199        207    256     463
Goa                            20      47         79     91     170
Gujarat                       243     460        463    522     985
Haryana                       182     324        317    410     727
Himachal Pradesh               33      62         80     78     158
Jharkhand                     173     304        356    388     744
Karnataka                     236     443        479    518     997
Kerala                        205     456        560    589    1149
Madhya Pradesh                300     554        625    679    1304
Maharashtra                   466     900       1057   1200    2257
Manipur                       188     373        412    427     839
Meghalaya                      45      89        141    146     287
Mizoram                       129     309        430    426     856
Nagaland                       64     128        226    233     459
Odisha                        117     237        282    280     562
Punjab                        202     394        484    504     988
Rajasthan                     242     477        580    674    1254
Sikkim                         31      52         57     62     119
Tamilnadu                     344     660        725    713    1438
Telangana                     162     302        452    461     913
Tripura                        63     109        127    129     256
Uttar Pradesh                 529    1014       1131   1341    2472
Uttarakhand                   117     213        240    252     492
West Bengal                   270     563        630    659    1289
Andaman & N. Island            28      46         54     55     109
D & N. Haveli & Daman & Diu    26      43         42     52      94
Jammu & Kashmir               183     355        404    450     854
Ladakh                         10      24         34     23      57
Lakshadweep                    15      28         46     39      85
Puduchery                      39      76         89     91     180
All India                    5492   10689      12445  13499   25944

                            15-29 years                15-59 years         \
                                 Female   Male Persons      Female   Male
State/UT
(1)                                (10)   (11)    (12)        (13)   (14)
Andhra Pradesh                      787    808    1595        2150   2065
Arunachal Pradesh                   432    385     817         946    922
Assam                               389    388     777        1145   1143
Bihar                               849   1004    1853        1899   2120
Chandigarh                          156    179     335         397    449
Chhattisgarh                        461    471     933        1136   1165
Delhi                               399    517     916        1043   1243
Goa                                  99     86     185         303    298
Gujarat                             989   1117    2106        2491   2678
Haryana                             591    770    1361        1540   1751
Himachal Pradesh                    130    195     325         363    449
Jharkhand                           617    652    1271        1477   1515
Karnataka                           995   1123    2118        2651   2766
Kerala                              833    827    1660        2738   2351
Madhya Pradesh                     1108   1202    2310        2767   2848
Maharashtra                        2015   2324    4340        5432   5783
Manipur                             550    566    1116        1617   1577
Meghalaya                           303    295     598         666    613
Mizoram                             510    547    1057        1491   1490
Nagaland                            239    229     468         609    611
Odisha                              523    527    1050        1384   1386
Punjab                              768    878    1646        2060   2207
Rajasthan                          1013   1185    2198        2483   2596
Sikkim                              156    189     345         375    417
Tamilnadu                          1449   1401    2851        4060   3829
Telangana                           680    714    1394        1821   1835
Tripura                             245    248     493         797    740
Uttar Pradesh                      1983   2245    4228        4644   4954
Uttarakhand                         398    406     804         980   1000
West Bengal                        1422   1348    2770        3869   3826
Andaman & N. Island                 114    126     240         313    336
D & N. Haveli & Daman & Diu          85    103     188         195    256
Jammu & Kashmir                     645    743    1388        1791   1947
Ladakh                               55     62     117         156    162
Lakshadweep                          45     57     102         161    167
Puduchery                           161    142     303         499    435
All India                         22194  24059   46258       58449  59930

                                    15 years and above                 \
                            Persons             Female   Male Persons
State/UT
(1)                            (15)               (16)   (17)    (18)
Andhra Pradesh                 4215               2527   2410    4937
Arunachal Pradesh              1868                997    972    1969
Assam                          2288               1336   1329    2665
Bihar                          4020               2137   2369    4507
Chandigarh                      846                481    525    1006
Chhattisgarh                   2302               1293   1317    2611
Delhi                          2286               1224   1410    2634
Goa                             601                387    364     751
Gujarat                        5170               2929   3100    6030
Haryana                        3291               1818   2010    3828
Himachal Pradesh                812                429    515     944
Jharkhand                      2994               1691   1727    3420
Karnataka                      5417               3198   3206    6404
Kerala                         5089               3717   3136    6854
Madhya Pradesh                 5615               3215   3243    6458
Maharashtra                   11216               6428   6731   13160
Manipur                        3194               1946   1853    3799
Meghalaya                      1279                732    659    1391
Mizoram                        2981               1747   1704    3451
Nagaland                       1220                655    679    1334
Odisha                         2770               1599   1616    3215
Punjab                         4267               2456   2596    5052
Rajasthan                      5079               2908   3004    5912
Sikkim                          792                412    458     870
Tamilnadu                      7891               4940   4601    9544
Telangana                      3656               2119   2123    4242
Tripura                        1537                968    936    1904
Uttar Pradesh                  9598               5291   5599   10890
Uttarakhand                    1980               1107   1133    2240
West Bengal                    7695               4692   4647    9339
Andaman & N. Island             649                365    372     737
D & N. Haveli & Daman & Diu     451                220    280     500
Jammu & Kashmir                3738               2137   2273    4410
Ladakh                          318                181    199     380
Lakshadweep                     328                201    201     402
Puduchery                       934                639    551    1190
All India                    118387              69122  69848  138980

                            All_ages
                              Female   Male Transgender Persons
State/UT
(1)                             (19)   (20)        (21)    (22)
Andhra Pradesh                  3054   2936           0    5990
Arunachal Pradesh               1311   1280           0    2591
Assam                           1624   1639           0    3263
Bihar                           2960   3263           1    6224
Chandigarh                       595    657           0    1252
Chhattisgarh                    1582   1627           1    3210
Delhi                           1529   1767           0    3296
Goa                              493    475           0     968
Gujarat                         3609   3865           1    7475
Haryana                         2277   2602           0    4879
Himachal Pradesh                 538    626           0    1164
Jharkhand                       2178   2288           2    4468
Karnataka                       3884   3960           0    7844
Kerala                          4528   3930           1    8459
Madhya Pradesh                  4094   4222           0    8316
Maharashtra                     7919   8397           1   16317
Manipur                         2543   2468           0    5011
Meghalaya                        917    850           0    1767
Mizoram                         2357   2259           0    4616
Nagaland                         945    976           0    1921
Odisha                          2001   2013           0    4014
Punjab                          3132   3302           0    6434
Rajasthan                       3723   3920           0    7643
Sikkim                           490    551           0    1041
Tamilnadu                       5981   5658           3   11642
Telangana                       2711   2746           0    5457
Tripura                         1141   1128           0    2269
Uttar Pradesh                   6907   7469           0   14376
Uttarakhand                     1443   1502           0    2945
West Bengal                     5615   5576           0   11191
Andaman & N. Island              437    455           0     892
D & N. Haveli & Daman & Diu      279    358           0     637
Jammu & Kashmir                 2713   2906           0    5619
Ladakh                           229    232           0     461
Lakshadweep                      260    255           0     515
Puduchery                        765    681           0    1446
All India                      86764  88839          10  175613